#forecast-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: var(--standard-corner);
  width: clamp(200px, 20%, 300px);
  gap: 2em;
  border: 2px solid gray;
}

.sunny {
  background-color: #b9e9ff;
}

.rainy {
  background-color: lightgray;
}

.rainysnowy {
  background-color: whitesmoke;
}

.snowy {
  background-color: #fefefa;
}

.temperatures {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 1em;
}

.temperature.average {
  grid-column: 1 / 3;
}

.temperature {
  display: flex;
  justify-content: center;
}

.condition {
  text-align: center;
  height: 80px;
}

.precipitation {
  text-align: center;
}

@media (max-width: 750px) {
  #forecast-container {
    flex-direction: column;
  }

  .forecast-card {
    width: clamp(200px, 70%, 600px);
  }
}
