div#forecast-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
  padding: 2rem;
  border-radius: var(--standard-corner);
  width: clamp(200px, 20%, 300px);
  gap: 2rem;
}

.temperatures {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.temperature.average {
  grid-column: 1 / 3;
}

.temperature {
  display: flex;
  justify-content: center;
}

.condition {
  text-align: center;
  height: 80px;
}

.precipitation {
  text-align: center;
}

@media (max-width: 900px) {
}
